/* Google Font - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind CSS classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-inter text-base font-normal bg-white text-gray;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Typing Indicator Animation - adding some additional css classes */
    .animate-typingIndicatorAnimation:nth-child(1)
    {
        animation-delay: 0ms;
    }
    .animate-typingIndicatorAnimation:nth-child(2)
    {
        animation-delay: 100ms;
    }
    .animate-typingIndicatorAnimation:nth-child(3)
    {
        animation-delay: 200ms;
    }
}
